<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.Movies">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Movie Finder"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".mainpackage.api.views.UserBookings"></activity>
        <activity android:name=".mainpackage.api.views.CheckoutActivity"></activity>
        <activity android:name=".mainpackage.api.views.UserProfile"></activity>
        <activity
            android:name=".SplashScreen"
            android:label="Movie Finder"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".login_register.views.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login_register.views.RegisterActivity" />
        <activity
            android:name=".mainpackage.api.views.MovieList"
            android:label="Movie List"></activity>
        <activity
            android:name=".mainpackage.api.views.MovieSearch"
            android:label="Movie Search" />
        <activity
            android:name=".mainpackage.api.views.MovieDescription"
            android:label="Movie Details"></activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>